* {
	font-family:verdana,sans-serif;
	font-size :14pt;
}


body, html, div, h1 {
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


body, html {
    height: 100%;
}

h1 {
    font-size: 100px;
}

.bgimg {
    background-image: url('comming_soon_bg.png');
    
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


